include ../../mixins/slider.pug

section.home-solutions
  .container
    header.home-solutions__header
      h2.h1.home-solutions__title Наши решения
      ul.slider-menu
        li.slider-menu__item
          button.active(type="button") Все
        li.slider-menu__item
          button(type="button") Комплексные
        li.slider-menu__item
          button(type="button") Отраслевые

  .scroll-slider
    .scroll-slider-viewport
      .scroll-slider-slides
        -
          var solutions = [
            {
              title: 'Защита удаленного доступа',
              icon: "./img/solutions/1.png",
              type: 'complex',
              link: '#',
            },
            {
              title: 'Защита персональных данных',
              icon: "./img/solutions/2.png",
              type: 'sector',
              link: '#',
            },
            {
              title: 'Защита межфилиальных взаимодействий',
              icon: "./img/solutions/3.png",
              type: 'complex',
              link: '#',
            },
            {
              title: 'Защита удаленного доступа',
              icon: "./img/solutions/1.png",
              type: 'sector',
              link: '#',
            },
            {
              title: 'Защита персональных данных',
              icon: "./img/solutions/2.png",
              type: 'complex',
              link: '#',
            },
            {
              group: 'Комплексное решение',
              title: 'Защита межфилиальных взаимодействий',
              icon: "./img/solutions/3.png",
              type: 'sector',
              link: '#',
            },
            {
              title: 'Защита удаленного доступа',
              icon: "./img/solutions/1.png",
              type: 'complex',
              link: '#',
            },
            {
              title: 'Защита персональных данных',
              icon: "./img/solutions/2.png",
              type: 'sector',
              link: '#',
            },
            {
              title: 'Защита межфилиальных взаимодействий',
              icon: "./img/solutions/3.png",
              type: 'complex',
              link: '#',
            }
          ]

        each solution in solutions
          section.scroll-slider-slide.c-col-6.c-col-lg-4
            a.home-solution(href=solution.link data-type=solution.type)
              .home-solution__group #{solution.type === 'complex' ? 'Комплексное решение' : 'Отраслевое решение'}
              h3.home-solution__title= solution.title
              .home-solution__icon
                img(src=solution.icon alt="")

    .container
      +slider-controls({
        link: '#',
        name: 'Каталог решений'
      })
